<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomePageServlet</servlet-name>
        <servlet-class>controller.HomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>controller.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryFoodServlet</servlet-name>
        <servlet-class>controller.CategoryFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>controller.ViewCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerAddToCart</servlet-name>
        <servlet-class>controller.CustomerAddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerUpdateCartServlet</servlet-name>
        <servlet-class>controller.CustomerUpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRemoveCartServlet</servlet-name>
        <servlet-class>controller.CustomerRemoveCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerPlaceOrderServlet</servlet-name>
        <servlet-class>controller.CustomerPlaceOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerOrderServlet</servlet-name>
        <servlet-class>controller.CustomerOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadingServlet</servlet-name>
        <servlet-class>controller.LoadingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminFoodServlet</servlet-name>
        <servlet-class>controller.AdminFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUserServlet</servlet-name>
        <servlet-class>controller.AdminUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCategoryServlet</servlet-name>
        <servlet-class>controller.AdminCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminOrderServlet</servlet-name>
        <servlet-class>controller.AdminOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDiscountServlet</servlet-name>
        <servlet-class>controller.AdminDiscountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerOrderDetailsServlet</servlet-name>
        <servlet-class>controller.CustomerOrderDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerHistoryOrderServlet</servlet-name>
        <servlet-class>controller.CustomerHistoryOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerSearchServlet</servlet-name>
        <servlet-class>controller.CustomerSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FoodScrollServlet</servlet-name>
        <servlet-class>controller.FoodScrollServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePageServlet</servlet-name>
        <url-pattern>/HomePageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryFoodServlet</servlet-name>
        <url-pattern>/CategoryFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/ViewCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerAddToCart</servlet-name>
        <url-pattern>/CustomerAddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerUpdateCartServlet</servlet-name>
        <url-pattern>/CustomerUpdateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerRemoveCartServlet</servlet-name>
        <url-pattern>/CustomerRemoveCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerPlaceOrderServlet</servlet-name>
        <url-pattern>/CustomerPlaceOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerOrderServlet</servlet-name>
        <url-pattern>/CustomerOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadingServlet</servlet-name>
        <url-pattern>/LoadingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminFoodServlet</servlet-name>
        <url-pattern>/AdminFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserServlet</servlet-name>
        <url-pattern>/AdminUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCategoryServlet</servlet-name>
        <url-pattern>/AdminCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminOrderServlet</servlet-name>
        <url-pattern>/AdminOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDiscountServlet</servlet-name>
        <url-pattern>/AdminDiscountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerOrderDetailsServlet</servlet-name>
        <url-pattern>/CustomerOrderDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerHistoryOrderServlet</servlet-name>
        <url-pattern>/CustomerHistoryOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerSearchServlet</servlet-name>
        <url-pattern>/CustomerSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FoodScrollServlet</servlet-name>
        <url-pattern>/FoodScrollServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainServlet</welcome-file>
    </welcome-file-list>
</web-app>
